@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-family: Roboto, sans-serif;
  color: #c8cdd4;
}
